In [1]:
from pathlib import Path

import pandas as pd

In [3]:
def load_data(filename: str) -> pd.DataFrame:
    p = Path(f"./data/{filename}")
    assert p.exists()

    df = pd.read_csv(filepath_or_buffer=p)

    df["Genre"] = df.Genre.astype("category").cat.codes
    df["Episode_Sentiment"] = df.Episode_Sentiment.astype("category").cat.codes
    df["Publication_Day"] = df.Publication_Day.astype("category").cat.codes
    df["Publication_Time"] = df.Publication_Time.astype("category").cat.codes
    df["Episode_Title"] = df.Episode_Title.astype("category").cat.codes
    df["Podcast_Name"] = df.Podcast_Name.astype("category").cat.codes

    return df


train_df = load_data("train.csv")

In [9]:
train_df

,id,Podcast_Name,Episode_Title,Episode_Length_minutes,Genre,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes
0,0,34,98,NaN,9,74.81,4,3,NaN,0.0,2,31.41998
1,1,24,19,119.80,1,66.95,2,0,75.95,2.0,0,88.01241
2,2,40,8,73.90,2,69.97,5,1,8.97,0.0,0,44.92531
3,3,10,40,67.17,8,57.22,1,2,78.70,2.0,2,46.27824
4,4,31,85,110.51,3,80.07,1,0,58.68,3.0,1,75.61031
...,...,...,...,...,...,...,...,...,...,...,...,...
749995,749995,26,18,75.66,2,69.36,2,2,NaN,0.0,0,56.87058
749996,749996,2,14,75.75,0,35.21,2,3,NaN,2.0,1,45.46242
749997,749997,28,47,30.98,4,78.58,4,2,84.89,0.0,0,15.26000
749998,749998,41,42,108.98,4,45.39,4,2,93.27,0.0,0,100.72939
749999,749999,38,99,24.10,7,22.45,2,3,36.72,0.0,1,11.94439

In [10]:
train_df.dropna()

,id,Podcast_Name,Episode_Title,Episode_Length_minutes,Genre,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes
1,1,24,19,119.80,1,66.95,2,0,75.95,2.0,0,88.01241
2,2,40,8,73.90,2,69.97,5,1,8.97,0.0,0,44.92531
3,3,10,40,67.17,8,57.22,1,2,78.70,2.0,2,46.27824
4,4,31,85,110.51,3,80.07,1,0,58.68,3.0,1,75.61031
6,6,6,42,69.83,9,35.82,3,3,39.02,0.0,1,64.75024
...,...,...,...,...,...,...,...,...,...,...,...,...
749992,749992,12,73,48.67,4,88.62,6,1,25.65,3.0,2,42.08465
749993,749993,41,82,23.52,4,38.14,5,1,86.17,0.0,1,19.71374
749997,749997,28,47,30.98,4,78.58,4,2,84.89,0.0,0,15.26000
749998,749998,41,42,108.98,4,45.39,4,2,93.27,0.0,0,100.72939
749999,749999,38,99,24.10,7,22.45,2,3,36.72,0.0,1,11.94439